body{
    font-family: 'Comic Sans MS';
    background-image: url('./assets/background_Image.png');
    background-repeat: no-repeat;
    background-size: 100% fixed;
    background-position: center top;
    background-attachment: fixed;

}
#webpage-title {
    text-align: center;
}

#introduction-title {
    text-align: center;
    color: #333;
}

#introduction-text {
    text-align: justify;
    margin: 0 auto;
    width: 60%;
    color: #666;
}
#introduction-image {
    display: block;
    margin: auto;
}

#road-map-list {
    list-style-type: none;
}